/*
@import url(pad.css) screen and (min-width: 768px) and (max-width: 1199px);
*/




body{width:768px;margin:auto;background-color: rgba(255, 34, 74,.8);}
.pad_no{display: none;}



.LR480BOX{float:left;width:480px;margin:auto}
